<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<head>
    <title>Commerce</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
<!--        <h1>HELLO SHOP</h1>-->
        <li class="lead">회원 서비스</li>
        <p>
            <a class="btn btn-lg btn-secondary" href="/members/regist">회원 가입</a><br>
            <a class="btn btn-lg btn-secondary" href="/members">회원 목록 조회</a>
        </p>

        <li class="lead">상품 서비스</li>
        <p>
            <a class="btn btn-lg btn-dark" href="/products/regist">상품 등록</a><br>
            <a class="btn btn-lg btn-dark" href="/products">상품 목록 조회</a>
        </p>

        <li class="lead">주문 서비스</li>
        <p>
            <a class="btn btn-lg btn-info" href="/orders/regist">상품 주문</a><br>
            <a class="btn btn-lg btn-info" href="/orders">주문 내역 조회</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>